{% extends 'base.html' %}

{% block title %}Manager description{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">ProjectPad description</h1>
    <p class="text-center text-muted mb-5">
        Application for inner project management
    </p>
    <p class="text-center text-muted mb-5">
        Technologies used in ProjectPad:
    <ul>
        <li>Redis</li>
        <li>Kafka</li>
        <li>Swagger</li>
        <li>Grafana</li>
        <li>Prometheus</li>
        <li>NoSql</li>
        <li>MyPy (static analyzer)</li>
    </ul>
    </p>
</div>
{% endblock %}