{% extends 'base.html' %}

{% block title %}Manager description{% endblock %}

{% block content %}
<p>Actions page - choose action with books in history:</p>

<ul>
    <li>
        <div>
            <a class="navbar-brand" href="/add">Add new project</a>
        </div>
    </li>

    <li>
        <div>
            <a class="navbar-brand" href="/remove">Remove existing project</a>
        </div>
    </li>

    <li>
        <div>
            <a class="navbar-brand" id="find_book" href="/find">Find project</a>
        </div>
    </li>
    <script>
        document.getElementById('find_book').addEventListener('click', (event) => {
        event.preventDefault();
        const userText = prompt('Enter project name to search:');
        if (userText !== null && userText.trim() !== '') {
        const resp = await fetch('/find', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ text: userText })
        });
        const result = await resp.json();
        console.log('Server respond:', result);
        alert(result.message);
    }
});
    </script>
</ul>

{% endblock %}